/*
Theme Name: Theme 1
*/

* {
  box-sizing: border-box;
}


body {
  font-family: Helvetica, Verdana, sans-serif;
}


.container {
  width: 1024px;
  margin: 0 auto;
}


.main {
  float: left;
  width: 75%;
  padding: 20px;
}


.sidebar {
  float: right;
  width: 25%;
  padding: 10px;
}







